@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply ease-in-out duration-500 transition-all;
  }
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #a30926;
  --text-1: #303030;
  --text-2: #5a5a5a;
  --text-3: #707070;
}

body {
  background-color: white;
}

.lds-dual-ring {
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #a30926;
  border-color: #a30926 transparent #a30926 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
